/*accordian styles*/

.accordian{
    font-size:15px;
}

.accordian ul{
 list-style-type: none;
}

.accordian button{
    padding:15px 20px;
    margin-bottom:1em;
    font-size:15px;
    background-color:#000;
    color:#fff;
}

.accordian p{
    margin-top:0;
}